*{
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

body{
    background-image: url("https://c1.wallpaperflare.com/preview/551/930/440/contact-us-contact-call-us-phone-communication.jpg");
}

form{
    width: 25%;
    text-align: center;
    margin: 2%;
    padding: 2%;
    background-image: linear-gradient(45deg, rgb(240, 71, 255), rgb(0, 8, 255));
    border-radius: 20px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
input, textarea{
    width: 80%;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px black,
                0 0 5px black;
    outline: none;
}
input[type=submit]{
    width: auto;
    background-color: rgb(0, 8, 255);
    color: white;
    text-shadow: 0 0 5px black;
    cursor: pointer;
}

.flex1{
    display: flex;
    justify-content: center;
}